body {
    display: flex;
    justify-content: center;
}

#web {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 900px;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
    padding-right: 5px;
}

.top_size {
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.top_size:hover {
    background-color: palevioletred;
    border-radius: 8px;
}

.top_size:hover img {
    filter: brightness(0) invert(1);
}

.top_size img {
    height: 30px;
    width: 30px;
    filter: grayscale(100%);
}

#top {
    height: 420px;
}

#bottom {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottom div {
    margin-top: 5px;
}

#hover_setting:hover {
    background-color: palevioletred;
}

#hover_setting {
    border-radius: 8px;
    min-height: 50px;
}

#hover_setting img {
    height: 55px;
    width: 55px;
    
}

#hover_setting:hover img {
    filter: brightness(0) invert(1);
}

#center {
    width: 830px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title__top h3{
    font-size: 23px;
}
.title__top div{
    width: 90px;
    height: 35px;
    border: 1px solid red;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    
}
.title__top div span:first-child{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}


.title__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.title__bottom{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.title__bottom div:first-child div:first-child{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title__bottom div{
    display: flex;
    align-items: center;
}

.title__bottom div:first-child img{
    width: 10px;
    height: 10px;
}
.title__bottom div:first-child {
    width: 80px;
    height: 25px;
    background-color: palevioletred;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#background{
    height: 470px;
    background-color: whitesmoke;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    margin-bottom: 10px;
    position: relative;
}
.activity{
    background-color: green;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
}
.background__left{
    height: 40px;
    width: 160px;
    background-color:rgba(128, 128, 128,0.7)  ;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title__background{
    position: absolute;
    top: 15px;
    left: 35px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.title__background button{
    border: none;
    margin: 0;
    padding: 0;
    height: 36px;
    border-radius: 5px;
}
#list_call{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.call{
    position: relative;
}

.call img{
    border-radius: 10px;
}

.tt_call{
    display: flex;
    width: 90%;
    justify-content: space-between;
    position: absolute;
    top: 5px;
    left: 7px;
}
.act_call{
    background-color: green;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
}
.tt__left{
    height: 25px;
    width: 110px;
    background-color:rgba(128, 128, 128,0.7)  ;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.call button{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0; 
    background-color:rgba(128, 128, 128,0.7)  ;
    border: none;
    border-radius: 10px;
}
.tt_call img{
    width: 15px;
    height: 15px; 
    margin: 0;
    filter: brightness(0) invert(1);
    padding: 0;  
}

#toolbar{
    width: 70%;
    height: 45px;
    display: flex;
    justify-content: space-around;
}
#toolbar button{
    border: none;
    background-color: white;
}
#toolbar .center{
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

#right {
    width: 450px;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
    display: flex;
    flex-direction: column;
}
.box1{
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding-bottom: 5%;
    display: flex;
    justify-content:center;
}
.right__top{
    width: 80%;
}
.right__top .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right__top .title div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}
.right__top .title div p{
    height: 28px;
    width: 25px;
    background-color: rgba(255, 192, 203,0.5);
    color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right__top .title button{
    height: 35px;
    width: 75px;
    background-color: white;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.participation{
    display: flex;
    flex-direction: column;
}
.participation .a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.participation .a .user{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.user img{
    margin-right: 10px;
}
.participation span{
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 20px;
    font-size: 25px;
    position: relative;
    top: -10px;
    color: gray;
}
.box2{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
}
.right__bottom{
    width: 80%;
}
.comment__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}
.comment__box span{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.comment__{
    position: relative;
}
.comment p{
    position: relative;
    left: 50px;
    background-color: rgba(128, 128, 128, 0.2);
    height: 50px;
    width: 90%;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
}
.comment__a .comment__box{
    width: 65%;
}

.comment__a p{
    width: 25%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(229, 132, 164,0.2);
}
.comment__a p img{
    width: 25%;
}
.comment__input .comment__box{
    width: 40%;
}
.input__{
    display: flex;
    position: relative;
}
.input__ input{
    border: none;
    background-color:  rgba(128, 128, 128, 0.2);
    border-radius: 5px;
    width: 80%;
    font-size: 18px;
    padding: 10px;
}

.input__ img{
    height: 50px;
    margin-left: 10px;
}