body {
    display: flex;
    justify-content: center;
}

#web {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 900px;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(128, 128, 128, 0.45);
    padding-right: 5px;
}

.top_size {
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.top_size:hover {
    background-color: palevioletred;
    border-radius: 8px;
}

.top_size:hover img {
    filter: brightness(0) invert(1);
}

.top_size img {
    height: 30px;
    width: 30px;
    filter: grayscale(100%);
}

#top {
    height: 420px;
}

#bottom {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottom div {
    margin-top: 5px;
}

#hover_setting:hover {
    background-color: palevioletred;
}

#hover_setting {
    border-radius: 8px;
    min-height: 50px;
}

#hover_setting img {
    height: 55px;
    width: 55px;
    
}

#hover_setting:hover img {
    filter: brightness(0) invert(1);
}

#center {
    width: 830px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title__top ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title__top{
    width: 100%;

}

.title__bottom{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

#background{
    height: 470px;
    background-color: whitesmoke;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    margin-bottom: 10px;
    position: relative;
}
.activity{
    background-color: green;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
}
.background__left{
    height: 40px;
    width: 160px;
    background-color:rgba(128, 128, 128,0.7)  ;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title__background{
    position: absolute;
    top: 15px;
    left: 35px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.title__background button{
    border: none;
    margin: 0;
    padding: 0;
    height: 36px;
    border-radius: 5px;
}
#list_call{
    display: flex;
    justify-content: space-between;
}

.call{
    position: relative;
}

.call img{
    border-radius: 10px;
}

.tt_call{
    display: flex;
    width: 90%;
    justify-content: space-between;
    position: absolute;
    top: 5px;
    left: 7px;
}
.act_call{
    background-color: green;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
}
.tt__left{
    height: 25px;
    width: 110px;
    background-color:rgba(128, 128, 128,0.7)  ;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.call button{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0; 
    background-color:rgba(128, 128, 128,0.7)  ;
    border: none;
    border-radius: 10px;
}
.tt_call img{
    width: 15px;
    height: 15px; 
    margin: 0;
    filter: brightness(0) invert(1);
    padding: 0;  
}

#toolbar{
    width: 70%;
    height: 45px;
    display: flex;
    justify-content: space-around;
}
#toolbar button{
    border: none;
    background-color: white;
}
#toolbar .center{
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

#right {
    width: 450px;
}



